{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": true
        },
        "modules": "cjs"
      }
    ]
  ],
  "ignore": ["**/__tests__"],
  "sourceMaps": true
}
